main {
  display: flex;
  justify-content: center;
}

.high-scores {
  text-align: left;
  margin-top: 10em;
}

#high-scores-list {
  text-align: left;
}

.score-rank {
  margin-bottom: 5px;
  background-color: lightgray;
  padding-left: 5%;
}

.high-score-btns {
  margin-top: 25px;
}